@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: #dfdfdf;
    --foreground: #0a0a0a;
    --card: #ffffff;
    --card-foreground: #0a0a0a;
    --popover: #ffffff;
    --popover-foreground: #0a0a0a;
    --primary: #1a1a1a;
    --primary-foreground: #fafafa;
    --secondary: #f2f2f2;
    --secondary-foreground: #1a1a1a;
    --muted: #f2f2f2;
    --muted-foreground: #767676;
    --accent: #f2f2f2;
    --accent-foreground: #1a1a1a;
    --destructive: #e63946;
    --destructive-foreground: #fafafa;
    --border: #d9d9d9;
    --input: #d9d9d9;
    --ring: #0a0a0a;
    --chart-1: #e4572e;
    --chart-2: #169873;
    --chart-3: #184e77;
    --chart-4: #f4a261;
    --chart-5: #ff9f1c;
    --radius: 0.5rem;
  }
  .dark {
    --background: #0a0a0a;
    --foreground: #fafafa;
    --card: #0a0a0a;
    --card-foreground: #fafafa;
    --popover: #0a0a0a;
    --popover-foreground: #fafafa;
    --primary: #fafafa;
    --primary-foreground: #1a1a1a;
    --secondary: #262626;
    --secondary-foreground: #fafafa;
    --muted: #262626;
    --muted-foreground: #a3a3a3;
    --accent: #262626;
    --accent-foreground: #fafafa;
    --destructive: #661919;
    --destructive-foreground: #fafafa;
    --border: #262626;
    --input: #262626;
    --ring: #b3b3b3;
    --chart-1: #1e40af;
    --chart-2: #2f855a;
    --chart-3: #e0a82e;
    --chart-4: #9d4edd;
    --chart-5: #d81159;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
